{% extends "Blog/base.html" %}

{% block content %}
<div align="center">
    <p align="center" style="font-size:2em;font-family:Abel;"> LOGIN</p>
{% if form.errors %}
<p style="font-family:Acme;color:red;">Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p style="font-family:Lobster;padding-left:20px">   Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div class="col-md-12">
  <td style="font-family:Lobster;"  ><label for="id_username"></label></td>
   <td ><input class="form-control" type="text" name="username" autofocus maxlength="254" required id="id_username" placeholder="Username" /> </td>
</div>
<div class="col-md-12">
  <td><label for="id_password"></label></td>
  <td><input  class="form-control col-sm-2"  type="password" name="password" required id="id_password" placeholder="Password"  /> </td>
</div>
<br>
<div class="col-md-12">
  <!--<input type="submit" value="Login" class="btn btn-primary " style=" padding:10px 100px;margin-top:20px;"/>-->
  <input type="submit" value="Login" class="btn btn-lg btn-primary btn-block" />
  <input type="hidden" name="next" value="" />
</br>
    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
    <p style="color:#323c3f;font-family:Roboto;">Don't have an account?<a href="{% url 'signup' %}"> Sign up now</a></p>
</div>
</form>

</div>
{% endblock %}