{% extends "Blog/base.html" %}

{% block content %}

    <p style="font-size:2em;font-family:Abel;padding-left:50px"> LOGIN.</p>
{% if form.errors %}
<p style="font-family:Acme;color:red;">Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p style="font-family:Lobster;padding-left:20px">   Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div class="col-xs-7">
  <td style="font-family:Lobster;"  >{{ form.username.label_tag }}</td>
   <td ><input  class="form-control"{{ form.username }} </td>
</div>
<div class="col-xs-7">
  <td>{{ form.password.label_tag }}</td>
  <td><input  class="form-control col-sm-2"{{ form.password }} </td>
</div>
<br>
<div class="col-xs-7">
  <input type="submit" value="Login" class="btn btn-primary" style="padding:10px 50px;margin-top:20px;"/>
  <input type="hidden" name="next" value="{{ next }}" />
</br>
    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
</div>
</form>

{# Assumes you setup the password_reset view in your URLconf #}


{% endblock %}