{% extends 'Blog/base.html' %}

{% block content %}
<p style="font-family: 'Acme', sans-serif;font-size:1.5em;">Heng a hnuaia tarlan ah te hian Bangalore MSA hruaitu te a biak theih reng e</p>
<ul class="list-group">
               <li class="list-group-item"><p style="font-family:Dosis,sans-serif;font-size:1.5em;">
                   Lalvensanga(President)</p>
            <p style="font-family:Roboto,sans-serif;font-size:1em;padding-left:70px;">Phone no:</p>
               </li><li class="list-group-item"><p style="font-family:Dosis,sans-serif;font-size:1.5em;">
                   Lallawmkima(Vice-President)</p>
            <p style="font-family:Roboto,sans-serif;font-size:1em;padding-left:70px;">Phone no:</p>
               </li><li class="list-group-item"><p style="font-family:Dosis,sans-serif;font-size:1.5em;">
                   C Lalhmangaiha(Secretary)</p>
            <p style="font-family:Roboto,sans-serif;font-size:1em;padding-left:70px;">Phone no:</p>
               </li><li class="list-group-item"><p style="font-family:Dosis,sans-serif;font-size:1.5em;">
                   Lalduhawma(Asst. Secy)</p>
            <p style="font-family:Roboto,sans-serif;font-size:1em;padding-left:70px;">Phone no:</p>
               </li><li class="list-group-item"><p style="font-family:Dosis,sans-serif;font-size:1.5em;">
                   Betsy(Treaurer)</p>
            <p style="font-family:Roboto,sans-serif;font-size:1em;padding-left:70px;">Phone no:</p>
               </li>
{% endblock %}