{% extends 'Blog/base.html' %}

{% block content %}

{% if user.is_authenticated %}
     <a class="btn btn-default" href="{% url 'post_edit' pk=collw.pk %}">Edit <span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
     <h1>  <p style="font-family:Dosis,sans-serif;font-size:1em;">
                   {{collw.College_name}}</p></h1>

       <p style="font-family:'Quicksand',sans-serif;">Location: {{ collw.Location|linebreaksbr }}</p>

<br>
<table class="table table-striped">
    <thead>
      <tr>
        <th style="font-family:Quicksand;font-size:1.2em;">Courses Offered</th>
      </tr>
    </thead>

    <tbody>
      {% for genre in collw.Courses_offered.all %}
      <tr>
        <td style="font-size:1.2em;padding-left:40px; ">{{ genre }}</td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
</div>

  <br>
<p style="font-family:Josefin+Sans;padding:10px 10px;">{{collw.Comment}}</p>
{% endblock %}