{% extends 'Blog/base.html' %}

{% block content %}

{% if user.is_authenticated %}
     <a class="btn btn-default" href="{% url 'post_edit' pk=collw.pk %}">Edit <span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
    <p style="font-family:Dosis,sans-serif;font-size:1em;"> <h1>
                   {{collw.College_name}}</h1> </p>

       <p style="font-family:'Quicksand',sans-serif;">Location: {{ collw.Location|linebreaksbr }}</p>

<br>
<table class="table table-striped">
    <thead>
      <tr>
        <th style="font-family:Quicksand;font-size:1.2em;">Courses Offered</th>
      </tr>
    </thead>

    <tbody>
      {% for genre in collw.Courses_offered.all %}
      <tr>
        <td style="font-size:1.2em;padding-left:40px; ">{{ genre }}</td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
</div>

  <br>
<p style="font-family:Josefin+Sans;padding:10px 10px;">{{collw.Comment}}</p>
<hr>
<a class="btn btn-secondary">Add</a>
{% for comm in collw.comments.all %}
<div class="commenting"></div>

<strong>{{comm.name}}</strong>
<div class="datee"> {{comm.created}}</div>
<p>{{comm.body}}</p>


{% empty %}
No comments yet
{% endfor %}
{% endblock %}